*,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body,
#root,
.App {
  height: 100vh;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
